SUPABASE_URL=https://iyeejmosbirjgredwvcr.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5ZWVqbW9zYmlyamdyZWR3dmNyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTgwMzYwMCwiZXhwIjoyMDk1Mzc5NjAwfQ.b_u0S0Y2YJPu72w-2k6ZGlVXxeoeH2my1WNcQdtMKgc

JWT_SECRET=supersecret
